<IfModule mod_mime.c>
    # Mimetype correcto para el manifest de la PWA
    AddType application/manifest+json .webmanifest
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si existe archivo físico, servirlo directo
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Todo lo demás a front controller
    RewriteRule ^ index.php [L]
</IfModule>